<h1> <span jhiTranslate="studentSemesterInscription.subtitle"> Welcom </span> {{getUserame()}} ! </h1>

<h4 jhiTranslate="studentSemesterInscription.semesters"> Here you can subscribe to a semester inscription </h4>
<br><br>

<!-- First Semester Inscription -->
 <input type="checkbox" [disabled]= "submited || isSubscribed1" [checked]= "isFirstSemester" (change)="changeValueOfFirstSemester()">
 <span jhiTranslate="studentSemesterInscription.semester1">First semester</span>

 <br>
 <!-- Display inscription-->
 <div class="shadowbox" *ngIf = "isFirstSemester"> 

     <span jhiTranslate="studentSemesterInscription.noted"> Is noted?</span>

     <br>

     <input type="checkbox" [checked]= "yes" [disabled]= "submited"  (change)="changeNoted()" > 
     <span jhiTranslate="studentSemesterInscription.yes"> Yes </span>

     <input type="checkbox" [checked]= "no" [disabled]= "submited"  (change)="changeNoted()" > 
     <span jhiTranslate="studentSemesterInscription.no"> No </span>

     <br><br>

     <span jhiTranslate="studentSemesterInscription.pay"> I would like to pay </span>

     <br>
        
     <input type="checkbox" [checked]= "later" [disabled]= "submited"  (change)="changePayement()" > 
     <span jhiTranslate="studentSemesterInscription.later"> Later </span>

     <input type="checkbox" [checked]= "now" [disabled]= "submited"  (change)="changePayement()" > 
     <span jhiTranslate="studentSemesterInscription.now"> Now </span>

     <br><br>

     <button jhiTranslate="studentSemesterInscription.submit" (click)= "changeSubmited()"> Submit </button>
     
     
</div>

<br><br>

 <!-- Second Semester Inscription -->


 <input type="checkbox" [disabled]= "submited2 || isSubscribed2" [checked]= "isSecondSemester" (change)="changeValueOfSecondSemester()">
 <span jhiTranslate="studentSemesterInscription.semester2">Second semester</span>

 <br>

  <!-- Display inscription-->
  <div class="shadowbox" *ngIf = "isSecondSemester"> 

    <span jhiTranslate="studentSemesterInscription.noted"> Is noted?</span>

    <br>

    <input type="checkbox" [checked]= "yes2" [disabled]= "submited2" (change)="changeNoted2()" > 
    <span jhiTranslate="studentSemesterInscription.yes"> Yes </span>

    <input type="checkbox" [checked]= "no2" [disabled]= "submited2" (change)="changeNoted2()" > 
    <span jhiTranslate="studentSemesterInscription.no" > No </span>

    <br><br>

    <span jhiTranslate="studentSemesterInscription.pay"> I would like to pay </span>

    <br>
       
    <input type="checkbox" [checked]= "later2" [disabled]= "submited2" (change)="changePayement2()" > 
    <span jhiTranslate="studentSemesterInscription.later"> Later </span>

    <input type="checkbox" [checked]= "now2" [disabled]= "submited2" (change)="changePayement2()" > 
    <span jhiTranslate="studentSemesterInscription.now"> Now </span>

    <br><br>

    <button jhiTranslate="studentSemesterInscription.submit" (click)= "changeSubmited2()"> Submit </button>

</div>


<br><br>

<div *ngIf = "(submited && now) || (submited2 && now2)">
   <span jhiTranslate="studentSemesterInscription.total1"> If you subscribe now you will have €</span> {{total}}
   <span jhiTranslate="studentSemesterInscription.total2"> to pay with PBox </span>
</div>

<div>
   <button jhiTranslate="studentSemesterInscription.finish" (click) = "onFinish()" style="background-color:black; color: white;"> Suscribe  </button> <br>
</div>

<div *ngIf = "submited || submited2">
   <br>
   <button jhiTranslate="studentSemesterInscription.reset" style="background-color:black; color: white;" (click) = "reset()"> Reset </button>
</div>
