<style>
caption {
  display: none;
}

table.contact {
  border-collapse: collapse;
  margin: auto;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

#foot {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.link {
  color: white;
  text-decoration: none;
  transition-duration: 0.3s;
}

.link:hover {
  color: #e67e22;
  transition-duration: 0.3s;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #1f618d;
  color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}
</style>


<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 jhiTranslate="settings.title" [translateValues]="{ username: account.login }" *ngIf="account">User settings for [<b>{{ account.login }}</b>]</h2>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="settings.messages.success">
                <strong>Settings saved!</strong>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="account" novalidate>
                <div class="form-group">
                    <label class="form-control-label" for="firstName" jhiTranslate="settings.form.firstname">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{ 'settings.form.firstname.placeholder' | translate }}"
                           formControlName="firstName">

                    <div *ngIf="settingsForm.get('firstName')!.invalid && (settingsForm.get('firstName')!.dirty || settingsForm.get('firstName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('firstName')?.errors?.required"
                               jhiTranslate="settings.messages.validate.firstname.required">
                            Your first name is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('firstName')?.errors?.minlength"
                               jhiTranslate="settings.messages.validate.firstname.minlength">
                            Your first name is required to be at least 1 character.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('firstName')?.errors?.maxlength"
                               jhiTranslate="settings.messages.validate.firstname.maxlength">
                            Your first name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="lastName" jhiTranslate="settings.form.lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{ 'settings.form.lastname.placeholder' | translate }}"
                           formControlName="lastName">

                    <div *ngIf="settingsForm.get('lastName')!.invalid && (settingsForm.get('lastName')!.dirty || settingsForm.get('lastName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('lastName')?.errors?.required"
                               jhiTranslate="settings.messages.validate.lastname.required">
                            Your last name is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('lastName')?.errors?.minlength"
                               jhiTranslate="settings.messages.validate.lastname.minlength">
                            Your last name is required to be at least 1 character.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('lastName')?.errors?.maxlength"
                               jhiTranslate="settings.messages.validate.lastname.maxlength">
                            Your last name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="email" jhiTranslate="global.form.email.label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{ 'global.form.email.placeholder' | translate }}"
                           formControlName="email">

                    <div *ngIf="settingsForm.get('email')!.invalid && (settingsForm.get('email')!.dirty || settingsForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('email')?.errors?.required"
                               jhiTranslate="global.messages.validate.email.required">
                            Your email is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('email')?.errors?.email"
                               jhiTranslate="global.messages.validate.email.invalid">
                            Your email is invalid.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('email')?.errors?.minlength"
                               jhiTranslate="global.messages.validate.email.minlength">
                            Your email is required to be at least 5 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('email')?.errors?.maxlength"
                               jhiTranslate="global.messages.validate.email.maxlength">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group" *ngIf="languages && languages.length > 0">
                    <label for="langKey" jhiTranslate="settings.form.language">Language</label>
                    <select class="form-control" id="langKey" name="langKey" formControlName="langKey">
                        <option *ngFor="let language of languages" [value]="language">{{ language | findLanguageFromKey }}</option>
                    </select>
                </div>

                <div *ngIf="student">
                    <div class="form-group" style="width:55%; margin-right:2%; float:left;">
                        <label class="form-control-label" for="cursus" jhiTranslate="global.form.cursus.composant">Cursus</label>
                        <select class="form-control" id="cursusComposant" name="cursusComposant" formControlName="cursusComposant" >
                            <option value="INFO">{{ 'ecomApp.Composant.INFO' | translate }}</option>
                            <option value="MAT">{{ 'ecomApp.Composant.MAT' | translate }}</option>
                            <option value="PRI">{{ 'ecomApp.Composant.PRI' | translate }}</option>
                            <option value="TIS">{{ 'ecomApp.Composant.TIS' | translate }}</option>
                            <option value="GGC">{{ 'ecomApp.Composant.GGC' | translate }}</option>
                            <option value="E2I">{{ 'ecomApp.Composant.E2I' | translate }}</option>
                            <option value="IESE">{{ 'ecomApp.Composant.IESE' | translate }}</option>
                        </select>
                    </div>

                    <div class="form-group" style="width:42%; float:left;">
                        <label class="form-control-label" jhiTranslate="global.form.cursus.level" for="cursusLevel">Academic Level</label>
                        <input type="number" class="form-control" name="cursusLevel" id="cursusLevel"
                            formControlName="cursusLevel" />
                        
                        <div *ngIf="settingsForm.get('cursusLevel')!.invalid && (settingsForm.get('cursusLevel')!.dirty || settingsForm.get('cursusLevel')!.touched)">
                            <small class="form-text text-danger"
                                *ngIf="settingsForm.get('cursusLevel')?.errors?.min"
                                jhiTranslate="global.messages.validate.sportLevel.min">
                                Your academic level must be positive.
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="global.form.sportLevel.label" for="sportLevel">Sport Level</label>
                        <select class="form-control" name="sportLevel" formControlName="sportLevel" id="sportLevel" >
                            <option value="BEGINNER">{{ 'ecomApp.SportLevel.BEGINNER' | translate }}</option>
                            <option value="BEGINNER2">{{ 'ecomApp.SportLevel.BEGINNER2' | translate }}</option>
                            <option value="BEGINNERSUP">{{ 'ecomApp.SportLevel.BEGINNERSUP' | translate }}</option>
                            <option value="PERF">{{ 'ecomApp.SportLevel.PERF' | translate }}</option>
                            <option value="PERFSUP">{{ 'ecomApp.SportLevel.PERFSUP' | translate }}</option>
                            <option value="FUN">{{ 'ecomApp.SportLevel.FUN' | translate }}</option>
                            <option value="FOIL">{{ 'ecomApp.SportLevel.FOIL' | translate }}</option>
                            <option value="MONITOR">{{ 'ecomApp.SportLevel.MONITOR' | translate }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input formControlName="drivingLicence" type="checkbox" id="drivingLicence" name="drivingLicence" >
                        <label class="form-control-label" jhiTranslate="global.form.drivingLicence.label" for="drivingLicence" >Driving Licence</label>
                    </div>

                    <div class="form-group"> 
                        <label class="form-control-label" jhiTranslate="global.form.meetingPlace.label" for="meetingPlace">Meeting Place</label>
                        <select class="form-control" name="meetingPlace" formControlName="meetingPlace" id="meetingPlace" >
                            <option value="SMH">{{ 'ecomApp.MeetingPlace.SMH' | translate }}</option>
                            <option value="MINATEC">{{ 'ecomApp.MeetingPlace.MINATEC' | translate }}</option>
                        </select>
                    </div>
                </div>

                <!-- <hr style="height:0px; visibility:hidden;"> -->

                <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary" jhiTranslate="settings.form.button">Save</button>
            </form>
        </div>
    </div>
</div>
<br/>
<footer>
    <br/>
    <h2 jhiTranslate="settings.contact" id="foot">Contact us</h2>
        <br/>
        <table class="contact">
            <caption>FooterTable</caption>
            <tr>
                <th scope="col"><img src="../../../content/images/mail.png" width="70" height="70" alt="logoMail"></th>
                <th scope="col"><img src="../../../content/images/location.png" width="70" height="70" alt="logoLocation"></th>
                <th scope="col"><img src="../../../content/images/facebook.png" width="70" height="70" alt="logoFacebook"></th>
                <th scope="col"><img src="../../../content/images/instagram.png" width="70" height="70" alt="logoInstagram"></th>
            </tr>
            <tr>
                <td jhiTranslate="settings.email"><strong>Mail of U-Wind : info@u-wind.fr</strong></td>
                <td><a href="https://goo.gl/maps/stHCZRgmETP42ys87" target="_blank" rel="noopener noreferrer" jhiTranslate="settings.link.U-Wind" class="link">U-Wind location</a></td>
                <td><a href="https://www.facebook.com/groups/32881424354/" jhiTranslate="settings.link.facebook" class="link">Facebook Group</a></td>
                <td><a href="https://www.instagram.com/uwind_grenoble/" jhiTranslate="settings.link.instagram" class="link">Instagram Page</a></td>
            </tr>
        </table>
        <br/>
        <br/> 
    <p jhiTranslate="settings.translate">© Tous droits réservés u-wind.fr</p>
    <br/>
</footer>
