<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{email.semester.title}">JHipster activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Dear
        </p>
        <br/>
        <p th:text="#{email.semester.text1(${number})}">
            You have just subscribed to a semester, here is what you chose :
        </p>
        <p th:text="#{email.semester.paid(${semester.paid})}">
            Paid :
        </p>
        <p th:text="#{email.semester.noted(${semester.noted})}">
            Marked :
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">U-WIND Team.</em>
        </p>
    </body>
</html>