<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="prices">
            <h2><span jhiTranslate="ecomApp.prices.detail.title">Prices</span> {{ prices.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecomApp.prices.noted">Noted</span></dt>
                <dd>
                    <span>{{ prices.noted }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.prices.nonNoted">Non Noted</span></dt>
                <dd>
                    <span>{{ prices.nonNoted }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/prices', prices.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
