<div class="row" id="header">
    <!-- <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div> -->
    <p class="lead" id="homeStudent-subtitle" jhiTranslate="homeStudent.subtitle">Welcom Student!</p>
</div>

<div class="row" id="body">
    <div class="column" id="personal-data">
        <table class="table">
            <tbody>
                <div *ngIf="account">
                    <tr>
                        <td><h4 jhiTranslate="homeStudent.account.firstName">First Name</h4></td>
                        <td *ngIf="account.firstName">{{ account.firstName }}</td>
                    </tr>
                    <tr>
                        <td><h4 jhiTranslate="homeStudent.account.lastName">Last Name</h4></td>
                        <td *ngIf="account.lastName">{{ account.lastName }}</td>
                    </tr>
                    <tr>
                        <td><h4 jhiTranslate="homeStudent.account.email">Email</h4></td>
                        <td *ngIf="account.email">{{ account.email }}</td>
                    </tr>
                </div>

                <div *ngIf="student">
                    <tr>
                        <td><h4 jhiTranslate="homeStudent.student.sportLevel">Sport level</h4></td>
                        <td *ngIf="student.sportLevel">{{ student.sportLevel }}</td>
                    </tr>
                    <tr>
                        <td><h4 jhiTranslate="homeStudent.student.drivingLicence">Driving licence</h4></td>
                        <td *ngIf="student.drivingLicence">{{ student.drivingLicence }}</td>
                    </tr>
                    <tr>
                        <td><h4 jhiTranslate="homeStudent.student.meetingPlace">Meeting place</h4></td>
                        <td *ngIf="student.meetingPlace">{{ student.meetingPlace }}</td>
                    </tr>
                    <tr>
                        <td><h4 jhiTranslate="homeStudent.student.cursus">Cursus</h4></td>
                        <td *ngIf="student.cursus">{{ student.cursus.composant }} {{ student.cursus.academicLevel }}</td>
                    </tr>
                </div>

                <button type="submit" class="btn btn-primary" jhiTranslate="homeStudent.button.editData">Edit your data</button>
            </tbody>
        </table>
    </div>

    <div class="column" id="activities">
        <table class="table">
            <tbody>
                <div *ngIf="student">
                    <tr><h4 jhiTranslate="homeStudent.student.semesterInscriptions">Semester inscriptions</h4></tr>
                    <tr *ngFor="let semesterInscription of student.semesterInscriptions; let last = last">
                        <a *ngIf="semesterInscription">{{ semesterInscription.id }}</a>{{ last ? '' : ', ' }}
                    </tr>

                    <tr><h4 jhiTranslate="homeStudent.student.studentActivities">Activities</h4></tr>
                    <tr *ngFor="let studentActivity of student.studentActivities; let last = last">
                        <a *ngIf="studentActivity">{{ studentActivity.id }}</a>{{ last ? '' : ', ' }}
                    </tr>
                </div>
            </tbody>
        </table>
    </div>
</div>

