<div class="row" id="header">
    <!-- <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div> -->
    <h1 class="lead" id="homeStudent-subtitle" jhiTranslate="homeStudent.subtitle">Welcome Student!</h1>
</div>
<br>  

<div class="row" id="body">
    <div class="column" id="personal-data">
        <table class="table">
            <thead></thead>
            <tbody>
                <div>
                    <tr *ngIf="account">
                        <td><span style="font-weight:bold" jhiTranslate="homeStudent.account.firstName">First Name</span></td>
                        <td *ngIf="account.firstName">{{ account.firstName }}</td>
                    </tr>
                    <tr *ngIf="account">
                        <td><span style="font-weight:bold" jhiTranslate="homeStudent.account.lastName">Last Name</span></td>
                        <td *ngIf="account.lastName">{{ account.lastName }}</td>
                    </tr>
                    <tr *ngIf="account">
                        <td><span style="font-weight:bold" jhiTranslate="homeStudent.account.email">Email</span></td>
                        <td *ngIf="account.email">{{ account.email }}</td>
                    </tr>
                    <tr *ngIf="student">
                        <td><span style="font-weight:bold" jhiTranslate="homeStudent.student.sportLevel">Sport level</span></td>
                        <td *ngIf="student.sportLevel">{{ student.sportLevel }}</td>
                    </tr>
                    <tr *ngIf="student">
                        <td><span style="font-weight:bold" jhiTranslate="homeStudent.student.drivingLicence">Driving licence</span></td>
                        <td *ngIf="student.drivingLicence" jhiTranslate="homeStudent.student.drivingLicenceYes">Yes</td>
                        <td *ngIf="!student.drivingLicence" jhiTranslate="homeStudent.student.drivingLicenceNo">No</td>
                    </tr>
                    <tr *ngIf="student">
                        <td><span style="font-weight:bold" jhiTranslate="homeStudent.student.meetingPlace">Meeting place</span></td>
                        <td *ngIf="student.meetingPlace">{{ student.meetingPlace }}</td>
                    </tr>
                    <tr *ngIf="student">
                        <td><span style="font-weight:bold" jhiTranslate="homeStudent.student.cursus">Cursus</span></td>
                        <td *ngIf="student.cursus">{{ student.cursus.composant }} {{ student.cursus.academicLevel }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><button [routerLink]="['/account/settings']" class="btn btn-primary" jhiTranslate="homeStudent.button.editData">Edit your data</button></td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>

    <div class="column" id="activities">
        <table class="table">
            <thead></thead>
            <tbody>
                <div *ngIf="student">
                    <tr><h4 jhiTranslate="homeStudent.student.semesterInscriptions">Semester inscriptions</h4></tr>
                    <tr *ngFor="let semesterInscription of student.semesterInscriptions">
                        <a *ngIf="semesterInscription.semester">{{ semesterInscription.semester.startDate }} - {{ semesterInscription.semester.endDate }}</a>
                    </tr>
                    <tr>
                        <p *ngIf="student.semesterInscriptions && student.semesterInscriptions.length == 0 || !student.semesterInscriptions" style="color:#bfbfbf" jhiTranslate="homeStudent.alert.noSemesterInscriptions">No semester inscriptions</p>
                    </tr>
                    <tr>
                        <button class="btn btn-primary" jhiTranslate="homeStudent.button.goToSemesterInscription"  routerLink="/studentSemesterInscription">Go to semester inscription page</button>
                    </tr>

                    <tr><hr style="height:20px; visibility:hidden;"></tr>

                    <tr><h4 jhiTranslate="homeStudent.student.studentActivities">Activities</h4></tr>
                    <tr *ngFor="let studentActivity of student.studentActivities">
                        <a *ngIf="studentActivity.activity">{{ studentActivity.activity.name }}</a>
                    </tr>
                    <tr>
                        <p *ngIf="student.studentActivities && student.studentActivities.length == 0 || !student.studentActivities" style="color:#bfbfbf" jhiTranslate="homeStudent.alert.noActivities">No activities</p>
                    </tr>
                    <tr>
                        <button class="btn btn-primary" jhiTranslate="homeStudent.button.manageActivities">Manage your activities</button>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>
</div>
<footer>
    <br/>
    <h2 jhiTranslate="homeStudent.contact" id="foot">Contact us</h2>
        <br/>
        <table class="contact">
            <caption>FooterTable</caption>
            <tr>
                <th scope="col"><img src="../../content/images/mail.png" width="70" height="70" alt="logoMail"></th>
                <th scope="col"><img src="../../content/images/location.png" width="70" height="70" alt="logoLocation"></th>
                <th scope="col"><img src="../../content/images/facebook.png" width="70" height="70" alt="logoFacebook"></th>
                <th scope="col"><img src="../../content/images/instagram.png" width="70" height="70" alt="logoInstagram"></th>
            </tr>
            <tr>
                <td jhiTranslate="home.email"><strong>Mail of U-Wind : info@u-wind.fr</strong></td>
                <td><a href="https://goo.gl/maps/stHCZRgmETP42ys87" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.U-Wind" class="link">U-Wind location</a></td>
                <td><a href="https://www.facebook.com/groups/32881424354/" jhiTranslate="home.link.facebook" class="link">Facebook Group</a></td>
                <td><a href="https://www.instagram.com/uwind_grenoble/" jhiTranslate="home.link.instagram" class="link">Instagram Page</a></td>
            </tr>
        </table>
        <br/>
        <br/> 
        <p jhiTranslate="home.translate">© Tous droits réservés u-wind.fr</p>
    <br/>
</footer>