<div class="row" id="header">
    <!-- <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div> -->
    <p class="lead" id="homeInstructor-subtitle" jhiTranslate="homeInstructor.subtitle">Welcom Instructor!</p>
</div>

<div class="row" id="body">
    <div class="column" id="personal-data">
        <table class="table">
            <tbody>
                <div *ngIf="account">
                    <tr>
                        <td><h4 jhiTranslate="homeInstructor.account.firstName">First Name</h4></td>
                        <td *ngIf="account.firstName">{{ account.firstName }}</td>
                    </tr>
                    <tr>
                        <td><h4 jhiTranslate="homeInstructor.account.lastName">Last Name</h4></td>
                        <td *ngIf="account.lastName">{{ account.lastName }}</td>
                    </tr>
                    <tr>
                        <td><h4 jhiTranslate="homeInstructor.account.email">Email</h4></td>
                        <td *ngIf="account.email">{{ account.email }}</td>
                    </tr>
                </div>

                <button type="submit" class="btn btn-primary" jhiTranslate="homeInstructor.button.editData">Edit your data</button>
            </tbody>
        </table>
    </div>

    <div class="column" id="activities">
        <table class="table"></table>
            <tbody>
                <div *ngIf="instructor">
                    <tr><h4 jhiTranslate="homeInstructor.instructor.editableActivities">Editable activities</h4></tr>
                    <tr *ngFor="let editableActivity of instructor.editableActivities; let last = last">
                        <a *ngIf="editableActivity">{{ editableActivity.id }}</a>{{ last ? '' : ', ' }}
                    </tr>

                    <tr><h4 jhiTranslate="homeInstructor.instructor.monitoredActivities">Monitored activities</h4></tr>
                    <tr *ngFor="let participateActivity of instructor.participateActivities; let last = last">
                        <a *ngIf="participateActivity">{{ participateActivity.id }}</a>{{ last ? '' : ', ' }}
                    </tr>
                </div>
            </tbody>
        </table>
    </div>
</div>
